<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Blog</title>

    <!-- links -->
    <link rel="stylesheet" href="css/blog.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    />
    <link rel="shortcut icon" href="images/icons8-online-shop-sale-64.png" type="image/x-icon">

    <style>

      header {
        height: 10.5vh;
      }
      
    </style>

  </head>

  <body>

    {{!-- navbar --}}
    {{>navbar_after}}

    {{!-- main content --}}
    {{>blog_main}}

    {{!-- Footer --}}
    {{>footer_after}}

  </body>
  
</html>