<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Return Policy</title>

    {{!-- links --}}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />
    
    <style>
      
      body {
        /* background-color: rgba(249, 222, 237, 0.975); */
        text-align: center;
        color: rgb(33, 60, 60);
        font-size: 2vw;
        font-family: 'Fredoka One', cursive;
      }

      * {
        background-color: rgb(224, 224, 219);
      }

      header {
        height: 10vh;
        position:sticky;
        top: 0;
        font-size: 5vw;
        background-color: rgb(244, 135, 202);
        border-radius:0 0 0.5em 0.5em ;
        padding: 20px;
        margin-top: 2px;
        margin-bottom: 20px;
        box-shadow: 5px 5px 5px rgb(68, 64, 64);
      }

      span {
        font-weight: bold;
        margin-top: 20px;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.816);
        border-radius: 2em;
        color: white;
      }
      
      h1 {
        position:sticky;
        top: 15.8vh;
        color: white;
        background-color: rgb(77, 73, 73);
        margin-bottom: 8px;
        margin-top: 10px;
        font-size: 2vw;
      }
      
      article {
        border-radius: 2em;
        box-shadow: 5px 5px 5px rgb(68, 64, 64);
        font-size: 1.65vw;
        padding: 12px;
        background-color: rgba(249, 222, 237, 0.975);
        border-radius: 2em;
      }

    </style>

  </head>

  <body>
    
    {{!-- main content --}}
    {{>returnpolicy_main}}

  </body>

</html>