<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Purple Pebble - Shop Now</title>

    <!-- links -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/cart.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    />

    <!-- internal css -->
    <style>

      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .small-container {
        margin-top: 5vh;
        margin-bottom: 5vh;
      }

      .items {
        box-shadow: 2px 2px 12px 0px rgba(7, 64, 187, 0.75);
      }
      
    </style>

  </head>

  <body>

    {{!-- navbar --}}
    {{>navbar_before}}

    {{!-- main content --}}
    {{>shop_main}}

    <h1 align="center">Login to see your cart</h1>

    {{!-- Footer --}}
    {{>footer_before}}

    {{!-- javaScript --}}
    <script>
      function func1() {
        alert("You need to first login to add this to your cart");
      }
    </script>

  </body>
  
</html>
