<main>
  <h1>Check out latest fashion blogs</h1>

  <div class="small-container1">
    <div class="row">
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://i.pinimg.com/originals/7d/67/49/7d6749c577ddcafd1664034238b29019.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><a
                href="https://www.instagram.com/akanksharedhu/?hl=en"
              >Akanksha Redhu</a></h4>
            <a
              href="https://akanksharedhu.com/2019/04/01/32-things-ive-learnt-in-my-32-years/"
            >
              32 Things I've Learnt in My 32 Years
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://sheerluxe.com/sites/sheerluxe/files/styles/max_1600x1600/public/articles/2022/02/rachelzoeleft.png.webp?itok=6dVU5wCY"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><a
                href="https://www.instagram.com/rachelzoe/?hl=en"
              >Rachel Zoe</a></h4>
            <a href="https://sheerluxe.com/fashion/my-life-fashion-rachel-zoe">
              “Style is a way to say who you are without having to speak.”
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://assets.vogue.in/photos/60d5d2f54fba32b9b63fd6a5/3:4/w_1998,h_2664,c_limit/Skinny%20jeans%20out%20denim%20trend%20vogue%20india%20alia%20bhatt%20shoot.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><a
                href="https://www.instagram.com/voguemagazine/?hl=en"
              >Vogue</a></h4>
            <a
              href="https://www.vogue.in/fashion/content/indian-denim-brands-to-add-to-cart-now"
            >
              Indian denim brands to add to cart now
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://www.boredpanda.com/blog/wp-content/uploads/2017/05/teacher-mistaken-for-star-becomes-model-6-5910129f31e40__700.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><span><a
                  href="https://www.instagram.com/iconaccidental/"
                >Lyn Slater</a></span>
              -
              <span><a href="https://www.accidentalicon.com/">Accidental Icon</a></span></h4>
            <a href="https://www.accidentalicon.com/">
              “There aren't age parameters in fashion. Don't tell me there are
              rules”
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="http://www.peachesandblush.com/wp-content/uploads/2017/10/DSC_2212-668x1000.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><span><a
                  href="https://www.instagram.com/mehaksagar_wmg/?hl=en"
                >Mehak Sagar</a></span>
              -
              <span><a href="http://www.peachesandblush.com/">Peaches and Blush</a></span></h4>
            <a
              href="http://www.peachesandblush.com/2015/11/how-to-look-effortlessly-stylish-with-your-existing-wardrobe.html"
            >
              How to look effortlessly stylish with your existing wardrobe
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://www.starzbio.com/wp-content/uploads/2019/12/a5-31.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><a
                href="https://www.instagram.com/komalpandeyofficial/feed/?hl=en"
              >Komal Pandey</a></h4>
            <a href="https://www.instagram.com/komalpandeyofficial/?hl=en">
              “Style and fashion both to me are infinite. I don't like to
              restrict myself while I practice them.”
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://starsunfolded.com/wp-content/uploads/2020/09/Dolly-Singh.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><span><a
                  href="https://www.instagram.com/dollysingh/?hl=en"
                >Dolly Singh</a></span>
              -
              <span><a href="https://spillthesass.wordpress.com/">Spill The Sass</a></span></h4>
            <a href="https://spillthesass.wordpress.com/">
              From A High Heel Hater To A Lover, Here I Am
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://images.squarespace-cdn.com/content/v1/533b44d9e4b0ac2733685dc4/1588633373854-DESQK7PIXJ5LVE7L57HM/5C27BD21-E22A-46D9-A56F-678C47035349.jpg?format=750w"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption"><a
                href="https://www.instagram.com/asiyami_gold/?hl=en"
              >Asiyami Gold</a></h4>
            <a href="https://www.asiyamigold.com/">
              "There is a gracious kind of subtlety about a woman who has seen
              the voids and fullness of the world.”
            </a>
          </div>
        </div>
      </div>
      <div class="col3">
        <div class="blog-card blog-card-blog">
          <div class="blog-card-image">
            <img
              class="img"
              src="https://i.dailymail.co.uk/i/pix/2016/09/02/17/37CE30F600000578-3771132-image-m-23_1472834075758.jpg"
            />
          </div>
          <div class="blog-table">
            <h4 class="blog-card-caption">
              <span><a href="https://www.instagram.com/tessholliday/?hl=en">Tess
                  Munster</a></span>
              -
              <span><a href="https://www.therelatablefatgirl.com/about">The
                  Relatable Fat Girl</a></span>
            </h4>
            <a href="https://www.therelatablefatgirl.com/blog">
              "Life is so much more beautiful and complex than a number on
              scale.”
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>