<div class="body_at" style="margin-bottom: 14.3vh;">
  <h1 style="color: rgb(71, 67, 67);">Contact Us</h1>
  <p class="new_at">Thank you for visiting our site. </p>
  <p class="new_at">We would love to hear from you. Please contact us at:</p>
  <div class="main_at">
    <div class="c_at">
      <img
        class="p3_at"
        src="http://assets.stickpng.com/images/584856bce0bb315b0f7675ad.png"
      />
      <b><p style="margin-top: 30px;">EMAIL</p></b>
      <a href="mailto:heyfrau.in@gmail.com">mailto:heyfrau.in@gmail.com</a>
    </div>
    <div class="b_at">
      <img
        class="p2_at"
        src="https://cdn-icons-png.flaticon.com/512/0/191.png"
      />
      <b><p style="margin-top: 30px; margin-left: 17px">PHONE</p></b>
      <p style="margin-top: 10px; margin-left: 17px">+91 9999944555</p>
    </div>
    <div class="a_at">
      <img
        class="p1_at"
        src="https://cdn.pixabay.com/photo/2016/03/22/04/23/map-1272165__340.png"
      />
      <b><p style="margin-top: 30px;">ADDRESS (of Indian Branch)</p></b>
      <p>Road No. 13, New Lane Road</p>
      <p>Lucknow- 200034</p>
    </div>
  </div>
</div>