<footer>
  <div class="upper1">
    <div class="app">
      <div class="txt">Download our App</div>
      <div class="btn">
        <button>Android</button>
        <button>iOS</button>
      </div>
    </div>
    <div class="links app">
      <div class="txt">Useful Links :</div>
      <ul>
        <li>
          <a href="https://www.dealsunny.com/myntra-coupons">Coupon</a>
        </li>
        <li><a href="blog_before">Blog Post</a></li>
        <li><a href="returnpolicy">Return Policy</a></li>
      </ul>
    </div>
    <div class="follow links app" style="border-right: none">
      <div class="txt">Follow us on :</div>
      <ul>
        <li>
          <a href="https://www.facebook.com/profile.php?id=100080168403112">
            Facebook
          </a>
        </li>
        <li><a href="https://twitter.com/HeyFrau_">Twitter</a></li>
        <li><a href="https://www.instagram.com/heyfrau_/">Instagram</a></li>
        <li><a href="mailto:heyfrau.in@gmail.com">Email</a></li>
      </ul>
    </div>
  </div>
  <div class="lower1">
    <div class="copyright txt">Copyright - 2022 All rights reserved</div>
  </div>
</footer>