<main>
  <div class="dresses">
    <div class="first">
      <img src="images/New Season Dresses.avif" alt="" />
    </div>
    <div class="small-container">
      <h4>Favorite Picks &#9829;</h4>
      <div class="row1">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Lace-Up A line dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Lace-Up A line dress </b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 15</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork A- Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork A- Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruffle A - Line Dress 2.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruffle A - Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 22</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Simplicity- A- line dress 2.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Simplicity- A- line dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jeans dresses">
    <div class="first">
      <img class="shop-item-image" src="images/Bottom Top  Picks.jpg" alt="" />
    </div>
    <div class="small-container">
      <h4>Favorite Picks &#9829;</h4>
      <div class="row1">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ripped Mom Jeans.avif"
            alt=""
          />
          <p class="shop-item-title"><b>Ripped Mom Jeans</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 13</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Regular Women Yellow Jeans.png"
            alt=""
          />
          <p class="shop-item-title"><b>Regular Women Yellow Jeans</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Women White Jeans.png"
            alt=""
          />
          <p class="shop-item-title"><b>Women White Jeans</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 20</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Split Straight Leg Jeans.avif"
            alt=""
          />
          <p class="shop-item-title"><b>Split Straight Leg Jeans</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="croptops dresses">
    <div class="first">
      <img class="shop-item-image" src="images/Crop top.jpg" alt="" />
    </div>
    <div class="small-container">
      <h4>Favorite Picks &#9829;</h4>
      <div class="row1">
        <div class="col4">
          <img src="images/Boning Cami Top.jpg" alt="" />
          <p class="shop-item-title"><b>Boning Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 13</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img class="shop-item-image" src="images/Cross Cami Top.jpg" alt="" />
          <p class="shop-item-title"><b>Cross Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork Cami Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 20</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork Pull-over T-Shirt.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork Pull-over T-Shirt</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>