<header>
  <a href="index_before">
    <img src="images/logo-removebg-preview.png" style="width: 85px;" />
  </a>
  <div class="navbar">
    <ul>
      <li><a href="index_before">Home</a></li>
      <li><a href="aboutus">About Us</a></li>
      <li><a href="shop_before">Shop</a></li>
      <li><a href="blog_before">Blog</a></li>
      <li><a href="contact_before">Contact</a></li>
      <li><a href="signin">Sign In</a></li>
    </ul>
    <a href="">
      <img
        src="images/cart-38.png"
        width="30px"
        height="30px"
        onclick="alert('You need to first login to open your cart')"
        style="margin-left: 20px;"
      />
    </a>
  </div>
</header>