<header>
  <a href="index_after">
    <img src="images/logo-removebg-preview.png" style="width: 85px;" />
  </a>
  <div class="navbar">
    <ul>
      <li><a href="index_after">Home</a></li>
      <li><a href="aboutus">About Us</a></li>
      <li><a href="shop_after">Shop</a></li>
      <li><a href="blog_after">Blog</a></li>
      <li><a href="contact_after">Contact</a></li>
      <li><a href="index_before">Log Out</a></li>
    </ul>
    <a href="#mycart1">
      <img
        src="images/cart-38.png"
        width="30px"
        height="30px"
        style="margin-left: 20px;"
      />
    </a>
  </div>
</header>