<header>
  Return Policy
</header>
<main>

  <span class="bold">Disclaimer</span>
  <p>
    In the event of any discrepancy or conflict,<br />
    the English version will prevail over the translation.
  </p>
  <h1>100% Purchase Protection</h1>
  <article class="purchase_protection">
    We are committed to ensure 100% Purchase Protection for customers by<br />
    offering genuine products, secure payments and easy returns for items
    shopped on PurplePebble
  </article>
  <h1>Genuine Products</h1>
  <article class="genuine_products">
    Sellers are committed to sell only genuine products to customers on
    PurplePebble All sellers
    <br />
    listing their products on PurplePebble are required to enter an agreement to
    list and sell only
    <br />
    genuine products.
  </article>

  <h1>Secure Payments and Safe Ordering</h1>
  <article class="secure_payment">
    PurplePebble understands that you care about how information about you is
    used and shared.
    <br />
    We appreciate your trust in us to do that carefully and sensibly.Your
    privacy is important to
    <br />
    us, and we work to keep your information secure.<br />
    <br />
    How Secure Is Information I share with PurplePebble?
    <br />
    <br />
    Our secure-server software encrypts all your personal information including
    credit or debit card
    <br />
    number, name and address. The encryption process takes the characters you
    enter and
    <br />
    converts them into bits of code that are then securely transmitted over the
    Internet.
    <br />
    <br />
    We work to protect the security of your information during transmission by
    using Secure
    <br />
    Sockets Layer (SSL) software, which encrypts your information, in addition
    to maintaining the
    <br />
    security of your information as per the International Standard IS/ISO/IEC
    27001 on
    <br />
    "Information Technology-Security Techniques- Information Security Management
    System-Requirements".
    <br />
    <br />
    We reveal only the last four digits of your credit card numbers when
    confirming an order. Of
    <br />
    course, we transmit the entire credit card number to the appropriate credit
    card company
    <br />
    during order processing.
    <br />
    <br />
    We maintain physical, electronic and procedural safeguards in connection
    with the collection,
    <br />
    storage and disclosure of personally identifiable customer information. As
    per our security
    <br />
    procedures, we may occasionally request proof of identity before we disclose
    personal
    <br />
    information to you.

  </article>
  <h1>Easy Returns</h1>
  <article class="easy_returns">
    Returns are easy with our online returns centre. While most items can be
    returned for a refund
    <br />
    or replacement within a 10-day return window, return policies may be
    different across product
    <br />
    categories. Please check the PurplePebble Returns Policies for details on
    the returns policies
    <br />
    of specific product.
    <br />
    <br />
    Seller fulfilled items need to be returned directly to the seller and not to
    Amazon. The seller
    <br />
    will specify the return address and mailing instructions.
    <br />
    To know the seller’s details –
    <br />
    1. Open the product detail page.<br />
    2. Scroll down and find “sold by”.
    <br />
    <br />

    To return a seller fulfilled item –
    <br />
    <br />

    1. Go to Your Order.
    <br />
    2. Select the item you want to return.
    <br />
    3. Click on Return or replace item.
    <br />
    4. Select issue and click on continue.
    <br />
    5. Enter the required details and proceed.
    <br /><br /><br />
  </article>
</main>