<main>
  <div class="small-container">
    <h4><i>Dresses &#9829;</i></h4>
    <div class="items">
      <div class="row1">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Lace-Up A line dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Lace-Up A line dress </b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 15</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork A- Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork A- Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Simplicity- A- line dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Simplicity- A- line dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruffle A - Line Dress 2.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruffle A - Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 22</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row1">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Simplicity- A- line dress 2.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Simplicity- A- line dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Button A- Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Button A- Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Button A- Line Dress 2.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Button A- Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Shirred A- Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Shirred A- Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row1">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Pocket Shirt Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Pocket Shirt Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 15</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruffle A - Line Dress 3.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruffle A - Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 11</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Cut-Out- A-Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Cut-Out- A-Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 16</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruffle A - Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruffle A - Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row1">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Texture A- line dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Texture A- line dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruched A-line dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruched A-line dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 24</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Drawstring A-Line Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Drawstring A-Line Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 19</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork Slip Dress.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork Slip Dress</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 22</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-container">
    <h4><i>Jeans &#9829;</i></h4>
    <div class="items">
      <div class="row2">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Cut Out Flare Leg Pants.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Cut Out Flare Leg Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 13</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Cut Out Flare Leg Pants 1.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Cut Out Flare Leg Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Asymmetrical Wide Leg Pants.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Asymmetrical Wide Leg Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 20</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Split Straight Leg Jeans.avif"
            alt=""
          />
          <p class="shop-item-title"><b>Split Straight Leg Jeans</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="col4">
          <img class="shop-item-image" src="images/Pocket Jogger.jpg" alt="" />
          <p class="shop-item-title"><b>Pocket Jogger</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Lace Up Blogger.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Lace Up Blogger</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Positioning Printing Jogger.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Positioning Printing Jogger</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Drawstring Jogger.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Drawstring Jogger</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Contrast Stich Flare Leg Pants.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Contrast Stich Flare Leg Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ring Wide Leg Pants.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ring Wide Leg Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Simplicity Wide Leg Pants.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Simplicity Wide Leg Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Simplicity Skinny Pants.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Simplicity Skinny Pants</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="small-container">
    <h4><i>Crop Tops &#9829;</i></h4>
    <div class="items">
      <div class="row3">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Boning Cami Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Boning Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 13</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img class="shop-item-image" src="images/Cross Cami Top.jpg" alt="" />
          <p class="shop-item-title"><b>Cross Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 17</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork Cami Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 20</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Patchwork Pull-over T-Shirt.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Patchwork Pull-over T-Shirt</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row3">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Positioning Printing Tank Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Positioning Printing Tank Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Tye Dye Pullover T-Shirt.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Tye Dye Pullover T-Shirt</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Simplicity Tank Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Simplicity Tank Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruched Cami Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruched Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
      <div class="row3">
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Boning Tube Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Boning Tube Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Ruffle Cami Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Ruffle Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Drawstring Tank Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Drawstring Tank Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
        <div class="col4">
          <img
            class="shop-item-image"
            src="images/Draped Cami Top.jpg"
            alt=""
          />
          <p class="shop-item-title"><b>Draped Cami Top</b></p>
          <div class="shop-item-details">
            <span class="shop-item-price">$ 18</span>
            <button
              class="btn btn-primary shop-item-button"
              onclick="func1()"
              type="button"
            >ADD TO CART</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>